@keyframes blink-border {
    50% { border-color: #ffff00; }
}
@keyframes blink-opacity {
    50% { opacity: 0 }
}
@keyframes MoveUpDownSayan {
    0%, 100% {
        top: -9px;
    }
    50% {
        top: -13px;
    }
}
@keyframes MoveUpDownEnnemy {
    0%, 100% {
        top: 2px;
    }
    50% {
        top: -3px;
    }
}

@font-face {
    font-family: "Pixel";
    src: url("./fonts/PressStart2P.ttf") format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-family: "Pixel", "Arial", "serif";
    color: #000;
    overflow: hidden;
}

header {
    top: 20%;
    text-align: center;
    background-color: transparent;
    position: absolute;
    z-index: 99;
    width: 100%;
    font-size: 0.7em;
}

header span {
    color: #f00;
    padding: 10px;
    border: 6px solid red;
    background-color: #fff;
}

header span.blink-border {
    animation: blink-border .5s step-end infinite alternate;
}

header span.blink-opacity {
    animation: blink-opacity 1.5s linear infinite;
    color: #414141;
    border-color: #414141;
}

.game-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(./img/bg-1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
}

.focus {
    box-shadow: inset 0px 0px 40px 25px #000;
    -moz-box-shadow: inset 0px 0px 40px 25px #000;
}


#fighter-1 {
    background-image: url(./img/adventurer.png);
    position: absolute;
    bottom: 65px;
    height: 76px;
    width: 60px;
    transform: scale(4);
    left: 15%;
}

#fighter-2 {
    background-image: url(./img/minotaur.png);
    position: absolute;
    bottom: 45px;
    height: 100px;
    width: 100px;
    transform: scale(4, 4);
    right: 15%;
    background-position: -0.3% -26.4%;
}

#player {
    position: absolute;
    z-index: 9;
    top: 10px;
    left: 10px;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff;
}

.icon-fighter {
    position: absolute;
    z-index: 99;
    font-size: 5px;
    padding: 1.4px 1px 1px 1px;
    background-color: #ffffff;
    top: -9px;
    border: 1px solid #001fff;
    color: #001fff;
}

.icon-fighter.sayan {
    left: 18px;

}

.icon-fighter.sayan.move {
    animation: MoveUpDownSayan 1s steps(60, end) infinite;
}

.icon-fighter.sayan:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 7px 0 7px;
    border-color: #001fff transparent transparent transparent;
    position: absolute;
    top: 7.7px;
    left: 4.5px;
}
@-moz-document url-prefix() {
    .icon-fighter.sayan:after {
        top: 8.4px;
    }
}

.icon-fighter.ennemy {
    left: 37px;
    top: 2px;
    border: 1px solid #ff0000;
    color: #ff0000;
}
.icon-fighter.ennemy.move {
    animation: MoveUpDownEnnemy 1s steps(58, end) infinite;
}

.icon-fighter.ennemy:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 7px 0 7px;
    border-color: #ff0000 transparent transparent transparent;
    position: absolute;
    top: 7.7px;
    left: 6px;
}
@-moz-document url-prefix() {
    .icon-fighter.ennemy:after {
        top: 8.4px;
    }
}

#join-button {
    position: absolute;
    top: 20%;
    font-family: inherit;
    background-color: #ffca00;
    padding: 1em;
    border: 3px outset #030000;
    cursor: pointer;
    z-index: 99;
    left: calc(50% - 102px);
}

#join-button:hover {
    color: #001fff;
    border-color: #fff;
}

.hidden {
    display: none;
}

#signal {
    position: absolute;
    z-index: 99;
    visibility: hidden;
    left: calc(50% - 130px);
    top: 15%;
    background-image: url(./img/warning-icon.png);
    height: 255px;
    width: 225px;
    background-size: cover;
}

#winnerMessage {
    background-color: #000000;
    position: absolute;
    z-index: 99;
    font-size: 16px;
    left: calc(50% - 140px);
    top: 20%;
    padding: 20px;
    color: #FFD700;
    text-align: center;
    line-height: 25px;
}

#restart {
    position: absolute;
    z-index: 99;
    font-family: inherit;
    top: 34%;
    left: calc(50% - 62px);
    padding: 16px;
    background-color: #2e65f6;
    color: #000;
    cursor: pointer;
    border: 3px outset #030000;
}

#restart:hover {
    color: #fff;
}

#rules {
    position: absolute;
    z-index: 99;
    right: 10px;
    padding: 5px 10px;
    font-family: inherit;
    background-color: #2e6382;
    border: 3px outset #030000;
    line-height: 20px;
    color: #fff;
    top: 10px;
    cursor: pointer;
}

#rules:hover {
    border-color: #fff;
}

#rules span {
    font-size: 20px;
}

#modal-rules {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background-color: #fff;
    padding: 40px;
    z-index: 999;
    top: 0;
    bottom: 0;
    opacity: 0.9;
    overflow: auto;
}

#modal-content {
    line-height: 25px;
}

#modal-close {
    float: right;
    border: 1px solid #000;
    padding-left: 6px;
    padding-top: 6px;
    cursor: pointer;
    padding-right: 3px;
    padding-bottom: 3px;
}
